<div class="field">
  <%= f.label :latitude %>
  <%= f.text_field :latitude%>
</div>

<div class="field">
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
</div>

<div class="field">
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time %>
</div>

<div class="field">
  <%= f.label :end_time %>
  <%= f.datetime_select :end_time %>
</div>
