<h1 class="text-center trips">Trips</h1>
<div class = "text-center"> 
  <%= link_to 'New Trip', new_trip_path %>
</div>
<div class="table-responsive tripsTable">
  <div class="row indextable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Trip</th>
          <th>Start time</th>
          <th>Finish time</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @trips.each do |trip| %>
          <tr>            
            <td class="text-center"><%= trip.id %></td>
            <td><%= trip.locations[0].logged_at.strftime('%d %b %Y %H:%M:%S') %></td> 
            <td><%= trip.locations.last.logged_at.strftime('%d %b %Y %H:%M:%S') %></td>
            <td><%= link_to 'Show', trip_locations_path(trip) %></td>
            <td><%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<div class = "text-center"> 
  <%= link_to 'New Trip', new_trip_path %>
</div>

<br>
<br>
<br>
<br>

<% @trips.each do |trip| %>
  <%= link_to trip, {style: "text-decoration:none" } do %>
    <%= render 'mapCard', trip: trip %>
  <% end %>
<% end %>


<br>
<br>
<br>
<br>