<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table class='tripsTable'>
  <thead>
    <tr>
      <th>Trip Number</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.id %></td>
        <td><%= trip.start_time.strftime('%d %b %Y %H:%M')  %></td>
        <td><%#= trip.end_time.strftime('%d %b %Y %H:%M')  %></td>
        <!-- <td><%#= link_to 'Show', trip %></td> -->
        <td><%= link_to 'Show', trip_locations_path(trip) %></td>


        <!-- This action will be implememted ( 2 BE REMOVED) when the user is added  MAKE IT ERROR 
        <td><%#= link_to 'Edit', edit_trip_path(trip) %></td> -->
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>


<br>
<br>
<br>
<br>

<% @trips.each do |trip| %>
  <%= link_to trip, {style: "text-decoration:none" } do %>
    <%= render 'mapCard', trip: trip %>
  <% end %>
<% end %>


<br>
<br>
<br>
<br>