<div class="card cardTrackingShow">
  <div class=" text-center "> 
    <% if @trip.finished == (false || nil) %>
      <%= form_with(model: @trip, local: true) do |form| %>
        <%= form.hidden_field :finished, :value => true %>  
        <%= form.hidden_field :end_time, :value => DateTime.now  %> 
        <%= form.submit 'Stop Tracking', name: 'stopTracking', id: "stopTracking", :class => "btn btn-primary stopButtonShow redColor mb-2"  %>
      <% end %>
     <%= render 'trip', trip: @trip %>
  </div>
    <br>

  <div class="d-flex justify-content-center">  
    <div id='trackingMap'></div>
  </div>
</div>

<%= javascript_tag do %>
  var tripMap = L.map('trackingMap');
  var marker = L.marker([0, 0]).addTo(tripMap);
  trackingMapLayers()
  myLocation()
<% end %>
































<% else %>




  <%= link_to 'Trips', trips_path %> <!-- Just for testing -->
  <br>
  <h3 class="mt-4"> Your Completed Trip </h3>

  <%= render 'trip', trip: @trip %>
    <br>
    <br>
  <%= link_to 'Locations', trip_locations_path(@trip), :id => "tripLocations"  %> <!-- 2 B Removed -->
    <br>
    <br>

<div class="d-flex justify-content-center mb-3"">  
    <div id='trackmap'></div>
  </div>

  <%= javascript_tag do %>
    var map = L.map('trackmap');
    var marker = L.marker([0, 0]).addTo(map);
  <% end %>
<% end %>

    
    <br>
    <br>
  </div>

  

 </div>






























 