<div class="card cardTrackingShow">
  <div class=" text-center"> 
  <h1 class="text-center tripNumber">Trip: <%= @locations.first.trip_id  %> </h1>
  <h5> Started at: <%= @locations.first.logged_at.strftime('%d %b %Y - %H:%M:%S') %> </h5>
  <h5> Completed at: <%= @locations.last.logged_at.strftime('%d %b %Y - %H:%M:%S') %> </h5>


  <%= link_to 'Back to trips', trips_path %> 

 
TIME, DISTANCE, AVSPEED.


      <div class="d-flex justify-content-center historicMap">  
        <div id='map'></div>
      </div>
  </div>
</div>





<%= javascript_tag do %>
  var map1 = L.map('map').setView([0, 0], 2); <!-- JUSt to set UP the map-->
  trackedMapLayers()
  locations()
<% end %>


<% @locations.each do |location| %>
          <tr>
     
            <td><%= location.trip_id  %></td><br>
            <td><%= location.logged_at.strftime('%H:%M:%S')  %></td><br>
             
          </tr>
        <% end %>

         <br>
  <br>
  <br>
  <br>



