<p id="notice"><%= notice %></p>

<h1>Locations</h1>
<br>
<div>
<h3>Total Locations: <%= @locations.count %> </h3> 

<%#= link_to 'New Location', new_trip_location_path(@trip) %> 
<br>
<br>
<br>
<div class="table-responsive">
  <div class="row indextable">
    <table class='locationsTable'>
      <thead>
        <tr>
          <th>Trip Number</th> 
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Logged At</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td><%= location.trip_id%></td>
            <td><%= location.latitude %></td>
            <td><%= location.longitude %></td>
            
            <td><%= location.logged_at.strftime('%d %b %Y %H:%M')  %></td>
             <!-- This actions will be implememted ( 2 BE REMOVED) when the user is added  MAKE IT ERROR 

            <td><%#= link_to 'Show', trip_location_path(@trip, location) %></td>           
            <td><%#= link_to 'Edit', edit_trip_location_path(@trip, location) %></td> 
            <td><%#= link_to 'Destroy', trip_location_path(@trip, location), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<br>
<br>
<br>

<%#= link_to 'New Location', new_trip_location_path(@trip), :id => "newLocation" %> 
<br>
<br>
<br>

<%= link_to 'Back to trip', trip_path(@trip) %> 

<br>
<br>
<br>
<br>
<div>
  <h1> Data From DataBase</h1>
<%#= content_tag "div", id: "locations", data: {url: @locations} do %>

<div id = 'locations'>
  </div>
 
<div id = 'locations2'>
  </div>

<%# end  %>
  <span id="dataFromDB"></span>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>

    <p>DB logs33: 
      <span id="db_log">0</span>
    </p>
<div>
<span id="latlng">0 0</span>
</div>
<br>



  <div class="d-flex justify-content-center"">  
    <div id='map'></div>
  </div>
</div>

<%= javascript_tag do %>
var map1 = L.map('map').setView([0, 0], 2); <!-- JUSt to set UP the map-->
trackedMapLayers()
locations()


<% end %>



 <br>
  <br>
  <br>
  <br>





