<p id="notice"><%= notice %></p>

<p>
  <strong>Trip Number:</strong>
  <%= @trip.id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Logged At:</strong>
  <%= @location.logged_at.strftime('%d %b %Y %H:%M')  %>
</p>


<%= link_to 'Edit',  edit_trip_location_path(@trip, @location) %> |  
<%= link_to 'Back', trip_locations_path(@trip) %>


